@model BarcodeViewModel
@{
    ViewData["Title"] = "Barcodes";
}
<link rel="stylesheet" href="~/css/barcodes.css" asp-append-version="true"/>

<div class="header">
    <h1>@ViewData["Title"]</h1>
</div>

<p>@Model.Title by @Model.Author has successfully be added to the library. Print the barcodes below to label the books.</p>

@foreach (var barcodeEncoding in Model.BarcodeList) {
    <img src="data:image/png;base64, @barcodeEncoding" alt="Barcode" class="barcode" />
}