@model CopiesViewModel
@{
    ViewData["Title"] = Model.Title;
    ViewData["Author"] = Model.Author;
}

<h1>@ViewData["Title"]</h1>
<h3>by @ViewData["Author"]</h3>

<table class="table">
    <tr>
        <th>
            ID
        </th>
        <th>
            Status
        </th>
    </tr>
    @foreach (var copy in Model.Copies)
    {
        <tr>
            <td>@copy.CopyId</td>
            <td>@Model.GetStatus(copy)</td>
        </tr>
    }
</table>